@import 'vars.scss';

body {
    overflow: hidden;
    line-height: 1.35;
    user-select: none;
}

/* hack: 修复 popover 被 ToggleButton 遮住的问题 */
div[data-focus-lock-disabled] > div:first-child {
    z-index: 3;
}

radix-portal div {
    z-index: 100;
}

.bp3-fill {
    height: 100%;
}

.m-l {
    margin-left: 10px;
}

.m-l-sm {
    margin-left: 5px;
}

.m-t {
    margin-top: 10px;
}

.m-t-sm {
    margin-top: 5px;
}

.m-b-sm {
    margin-bottom: 5px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.warn {
    color: map-get($color, warn)
}

.primary {
    color: map-get($color, primary)
}

.pure {
    color: map-get($color, pure)
}

input.editable-state {
    &::placeholder {
        color: #666;
        font-weight: normal,
    }
}

.mould-name {
    width: 100%;
    &.bp3-editable-text-editing {
        &::before {
            width: 100%;
            background: transparent;
            border: none;
        }
    }
    .bp3-editable-text-input {
        &::placeholder {
            font-size: 13px
        }
    }
}