@import 'vars.scss';

body {
    overflow: hidden;
    line-height: 1.35;
    user-select: none;
}

/* hack: 修复 popover 被 ToggleButton 遮住的问题 */
div[data-focus-lock-disabled] > div:first-child {
    z-index: 3;
}

radix-portal div {
    z-index: 100;
}

.bp3-fill {
    height: 100%;
}

.bp3-select-popover .bp3-menu:not(:first-child) {
    padding-top: 5px;
}

.bp3-select-popover .bp3-menu {
    max-height: 300px;
    max-width: 400px;
    overflow: auto;
    padding: 0;
}

.bp3-control {
    margin-bottom: 0;
}

.m-l {
    margin-left: 10px;
}

.m-l-lg {
    margin-left: 20px;
}

.m-l-sm {
    margin-left: 5px;
}

.m-t {
    margin-top: 10px;
}

.m-t-sm {
    margin-top: 5px;
}

.m-b-sm {
    margin-bottom: 5px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.m-r {
    margin-right: 10px;
}

.m-r-lg {
    margin-right: 20px;
}

.p-sm {
    padding: 5px;
}

.p-l-lg {
    padding-left: 20px;
}

.p-r {
    padding-right: 10px;
}

.p-r-lg {
    padding-right: 20px;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: crosshair;
}

.cursor-unset {
    cursor: unset;
}

.warn {
    color: map-get($color, warn)
}

.primary {
    color: map-get($color, primary)
}

.pure {
    color: map-get($color, pure)
}

.info {
    color: map-get($color, info)
}

input.editable-state {
    &::placeholder {
        color: #666;
        font-weight: normal,
    }
}

.mould-name {
    width: 100%;
    &.bp3-editable-text-editing {
        &::before {
            width: 100%;
            background: transparent;
            border: none;
        }
    }
    .bp3-editable-text-input {
        &::placeholder {
            font-size: 13px
        }
    }
}


.flex {
    display: flex;
    justify-content: flex-start;
    &.justify-center {
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
}

.left-divider {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        height: 20px;
        background-color: #bbb;
    }
}

.right-divider {
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #bbb;
    }
}

.bp3-tabs.right-tabs {
    .bp3-tab-list {
        justify-content: center;
    }
    .bp3-tab-panel {
        margin-top: 0;
    }

    .bp3-tab {
        width: 50%;
        margin-right: 0;
        text-align: center;
    }
}